@CHARSET "UTF-8";

/********************/
/** ENTETE DE PAGE **/
/********************/

body{
	padding: 1%;
}

div#entete {
    width: 100%;
    height: 150px;
    margin-bottom : 2%;
}

div#div_entete_logo {
    float: left;
    width: 30%;
    height: 100%;
}

#div_logo {
    float: left;
    width: 40%;
    height: 100%;
}

a#lien_accueil{
	float: left;
    width: 40%;
}

#div_expeditor{
    float: right;
    width: 50%;
    margin-top: 13%;
    color: #337ab7;
    font-size: 30px;
}

#div_infos {
    margin-bottom: 3%;
}

div#div_infos_connexion {
    float: right;
    width: 70%;
    height: 100%;
    text-align: right;
    padding-top: 3%;
}

div#milieu {
    margin-left: 10%;
    margin-right: 10%;
}

div#menu {
    margin-top: 2%;
    margin-bottom: 2%;
}

/***********************/
/** PAGE DE CONNEXION **/
/***********************/

div#div_form_connexion {
    margin: auto;
    width: 35%;
}

div#panel_body_connexion{
	padding: 2% 5%;
}

div.form-group input{
    margin-bottom: 1%;
}

button#btn_connexion {
    width: 30%;
    display: block;
    margin: auto;
    margin-top: 5%;
}
